<footer class="footer">
  <div class="container">
    <p class="mb-1"><strong>Movie<span class="text-warning">Book</span></strong> &copy; 2024</p>
    <div class="social-icons my-3">
      <a href="https://twitter.com" target="_blank" class="mr-3"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://instagram.com" target="_blank" class="mr-3"><i class="fa fa-instagram fa-lg"></i></a>
      <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
    </div>
    <div>
      <a routerLink="/about" class="text-white">About Us</a> | 
      <a routerLink="/contact" class="text-white">Contact Us</a> | 
      <a routerLink="/privacy-policy" class="text-white">Privacy Policy</a>
    </div>
  </div>
</footer>