<!-- confirm-booking.component.html -->
<div class="ticket my-5">
    <div class="left">
        <div class="image">
            <img src="https://cdn.statically.io/gh/vamsivardhanalajangi/online-movie-ticket-booking/5b926d38/images/Devara.jpg" alt="Movie Image">
        </div>
    </div>
    <div class="ticket-info">
        <p class="date">
            <span>TUESDAY</span>
            <span class="date_format">29th Sep</span>
        </p>
        <div class="show-name">
            <h1>Devara</h1>
        </div>
        <div class="show-name">
            <h2>Screen 1</h2>
        </div>
        <div class="seats">
            <p>A,B,C</p>
        </div>
        <p class="location">
            <a href="https://maps.app.goo.gl/GgGWgknnRBTBcuC49" target="_blank">Location</a>
            <span class="separator"><i class="far fa-smile"></i></span>
            <span>Amount:250 Rs</span>
        </p>
    </div>
    <div class="right">
        <div class="right-info-container">
            <p class="admit-one">
                <span>MOVIE WATCH</span>
                <span>MOVIE WATCH</span>
                <span>MOVIE WATCH</span>
            </p>
            <div class="show-name">
                <h1>Theatre: Sandhya 30MM</h1>
            </div>
            <div class="time">
                <p>6:00 AM <span>TO</span> 9:00 AM</p>
            </div>
            <div class="barcode">
                <img [src]="qrCodeUrl" alt="QR code">
            </div>
            <p class="ticket-number">Booking ID : {{ bookingId }}</p>
            <p class="admit-one">
                <span>MOVIE WATCH</span>
                <span>MOVIE WATCH</span>
                <span>MOVIE WATCH</span>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-outline-danger mb-5" (click)="downloadImage()">Download Ticket</button>
    </div>
</div>
