:host {
    display: block !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
}

html, body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.background-container {
    height: 100vh !important;
    width: 100vw !important;
    background-image: url('pop1.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important; /* Align items to the top */
    overflow: hidden !important; /* Prevent overflow */
}

.card {
    width: 100% !important;
    max-width: 340px !important;
    perspective: 1000px !important;
    margin: 0 auto; /* Center the card horizontally */
}

.inner-box {
    position: relative !important;
    width: 100% !important;
    transform-style: preserve-3d !important;
    transition: transform 1s !important;
}

.card-front, .card-back {
    position: absolute !important;
    width: 100% !important;
    backface-visibility: hidden !important;
    border-radius: 12px !important;
}

.card-back {
    transform: rotateY(180deg) !important;
}

form {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    text-align: center !important;
    gap: 3px !important;
}

input, select {
    background-color: #eee !important;
    padding: 9px 13px !important;
    margin: 2px 0 !important;
    width: 100% !important;
    border-radius: 10px !important;
}

button {
    border-radius: 20px !important;
    border: 1px solid #FF4B2B !important;
    background-color: #FF4B2B !important;
    color: #FFFFFF !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 12px 45px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    transition: transform 80ms ease-in !important;
}

button:active {
    transform: scale(0.95) !important;
}

button:focus {
    outline: none !important;
}

span {
    cursor: pointer !important;
    color: #FF4B2B !important;
    font-weight: bold !important;
}

.title {
    text-align: center !important;
    font-size: 30px !important;
}

.mylink {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #2d66d0 !important;
}
  
  .password-match-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: green;
    pointer-events: none;
  }
  
  .form-control.is-valid {
    border-color: #28a745;
  }
  
  .form-control.is-invalid {
    border-color: #dc3545;
  }

  