<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieBook</title>
</head>
<body>
   <app-header></app-header>
   <!-- <app-carousel></app-carousel>
   <app-multiplex></app-multiplex>
   <app-movies></app-movies>
   <app-mul-details></app-mul-details>
   <app-mov-details></app-mov-details>
   <app-ticket-booking></app-ticket-booking>
   <app-profile></app-profile>
   <app-dashboard></app-dashboard>
   <app-payment></app-payment>
   <app-about></app-about>
   <app-contact></app-contact>
   <app-privacy-policy></app-privacy-policy>
   <app-error></app-error> -->
   <router-outlet></router-outlet>
   <app-footer></app-footer>
</body>
</html>