.toast {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1051; /* Higher than the backdrop */
}

.toast-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050; /* Lower than the toast */
  display: none; /* Hidden by default */
}

.small {
  font-size: 10px !important;
}

a {
  cursor: pointer !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}

.nav-link {
  border-radius: 5px !important;
  padding: 10px 20px;
  margin: 2px 7px;
  background-color: #f3f5f7;
  transition: background-color color 0.5s ease-in;
}

.nav-link:hover {
  background-color: #e2e6ea;
}

.nav-link.active {
  background-color: rgb(69, 77, 85) !important; /* Bootstrap primary color */
  color: white !important;
  font-weight: 700 !important;
}
